CustomerUtilityService/src/main/resources/soapWSDL.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.serviceprovider.bootcamp.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ServiceProvider" targetNamespace="http://service.serviceprovider.bootcamp.com/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://service.serviceprovider.bootcamp.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
			targetNamespace="http://service.serviceprovider.bootcamp.com/"
			version="1.0">
			<xs:element name="getServiceById" type="tns:getServiceById" />
			<xs:element name="getServiceByIdResponse" type="tns:getServiceByIdResponse" />
			<xs:complexType name="getServiceById">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getServiceByIdResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:planInfo" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="planInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="plans" type="xs:string" />
					<xs:element name="sid" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getServiceByIdResponse">
		<wsdl:part element="tns:getServiceByIdResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getServiceById">
		<wsdl:part element="tns:getServiceById" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerServiceProvider">
		<wsdl:operation name="getServiceById">
			<wsdl:input message="tns:getServiceById" name="getServiceById"></wsdl:input>
			<wsdl:output message="tns:getServiceByIdResponse" name="getServiceByIdResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceProviderSoapBinding" type="tns:CustomerServiceProvider">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getServiceById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getServiceById">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getServiceByIdResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceProvider">
		<wsdl:port binding="tns:ServiceProviderSoapBinding" name="CustomerServiceProviderImplPort">
			<soap:address location="http://localhost:8080/ServiceProvider/services/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>